<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="DoorSensor" type="Appccelerate.Bootstrapper.Configuration.ExtensionConfigurationSection, Appccelerate.Bootstrapper" />
  </configSections>
  <DoorSensor>
    <Configuration>
      <add key="PanicModeEnabled" value="false" />
    </Configuration>
  </DoorSensor>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Appccelerate.Fundamentals" publicKeyToken="917bca444d1f2b4c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.0.0" newVersion="1.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>