<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="DoorSensor" type="Appccelerate.Bootstrapper.Configuration.ExtensionConfigurationSection, Appccelerate.Bootstrapper"/>
  </configSections>

  <DoorSensor>
    <Configuration>
      <add key="PanicModeEnabled" value="false"/>
    </Configuration>
  </DoorSensor>
  
</configuration>
